.pre-checkout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.pre-checkout-modal-overlay.fade-in {
  opacity: 1;
  visibility: visible;
}

.pre-checkout-modal-overlay.fade-out {
  opacity: 0;
  visibility: hidden;
}

.pre-checkout-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  max-width: 400px;
  width: 90%;
}
.pre-checkout-modal-content h2 {
  text-align: center;
}

.pre-checkout-modal-content.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.pre-checkout-modal-content.slide-out {
  transform: translateY(-20px);
  opacity: 0;
}


.pre-checkout-price-details p {
  margin: 5px 0;
  text-align: center;
}

.total-amount-highlight {
  text-decoration: line-through;
  color: red;
}

.total-with-discount-highlight {
  color: green;
  font-weight: bold;
}

.address-details-pre-modal {
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 5px;
}

.pre-checkout-modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.pre-checkout-confirm-btn {
  border: none;
  color: white;
  background-color: var(--primary-color);
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
}

.pre-checkout-confirm-btn:hover {
  cursor: pointer;
  background-color: black;
}

.pre-checkout-cancel-btn:hover {
  cursor: pointer;
  background-color: #aaa;
}

.pre-checkout-delivery-title{
  margin-bottom: 10px;
}

.pre-checkout-cancel-btn {
  background: #ccc;
  padding: 12px 36px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  border: none;
}
